<div>
  <ul>
        <h2>{{ getOneTopic.name }}</h2>
        <p>created at: {{ getOneTopic.createdAt}}</p>
  </ul>
</div>


          <h3>Create New Message</h3>
<form>
  <textarea type="text" ng-model="newMessage.body" name="message" placeholder="New Message Here" cols="30" rows="10"></textarea><br>
  <button ng-click="addMessage()">Create New Message</button>
</form>

<div>

      <ul ng-repeat="result in getMessageByTopic ">
        <h3>Author: {{ result.user.username }}</h3>
         <p>{{ result.body }}</p>
      </ul>

</div>