<div>
  <div>
  <a ng-href="/login">Login</a>
  <button ng-click="logout()">Logout</button>
  <a ng-href="/topics">Topics</a>
</div>
    <div>
        User Search : <input type="text" ng-model="userSearch">
    </div>
    <ul>
      <h1>Users</h1>
      <li ng-repeat="user in userService.getUsers()">
        <a ng-href='/users/{{user.id}}'>{{ user.username }}</a>
      </li>
    </ul>

    <form>
      <input type="text" ng-model="newUser.username" placeholder="Username">
      <input type="text" ng-model=newUser.password placeholder="Password">
      <button ng-click="addUser()">Register</button>
    </form>
</div>
<br>
<div>
       <ul>
      <h1>Topics</h1>
      <li ng-repeat="topic in topicService.getTopics()">
        <a ng-href='/topic/{{topic.id}}'>{{ topic.name }}</a>
      </li>
    </ul>
</div>
<br>
