 <button ng-click="logout()">Logout</button>
  <br>
   <form>
      <input type="text" ng-model="newUser.username" placeholder="Username">
      <input type="text" ng-model=newUser.password placeholder="Password">
      <button ng-click="addUser()">Register</button>
    </form>
      <br>
    <div>
        User Search : <input type="text" ng-model="userSearch">
    </div>
    <h3>Users</h3>
    <ul>
      <li ng-repeat="user in userService.getUsers() | filter: userSearch | orderBy: 'username'">
        <a ng-href='/users/{{user.id}}'>{{ user.username }}</a>
      </li>
    </ul>
</div>
<div>
      <h3>Topics</h3>
       <ul>
      <li ng-repeat="topics in topicService.getTopics()">
        <a ng-href='/topics/{{topics.id}}'>{{ topics.name }}</a>
        <p style="font-size: 12px;"> Author: {{ topics.user.username }}</p>
      </li>
    </ul>
</div>

